# Data Directories
RAW_DATA_DIR=data/raw_data
PREPARED_DATA_FILE=data/prepared_dataset.json

# Vector DB
VECTOR_DB_DIR=vectordb
CHROMA_DB_PATH=vectordb/chroma_db
COLLECTION_NAME=isap_acts

# Models
MODELS_DIR=models
LLAMA_MODEL_FILENAME=PLLuM-8x7B-chat-gguf-q4_k_m.gguf
EMBEDDING_MODEL_NAME=sdadas/st-polish-paraphrase-from-distilroberta

# API Sejm
SEJM_API_URL=https://api.sejm.gov.pl/eli/acts

# RAG Parameters
LLAMA_N_CTX=4096
TOP_K_RETRIEVAL=5
MAX_GEN_TOKENS=512
PROMPT_MAX_CHARS=12000
